{% block main %}

<!-- Reading Section -->

<h1 class="text-4xl sm:text-5xl font-bold text-gray-900 mb-6">
    Please answer the questions
</h1>

<form action="/reading-qs" class="pt-24 pb-12 sm:pt-32 sm:pb-16 px-4 bg-blue-50" method="post">
    <button onclick="location.href='/reading'" class="inline-block px-6 py-3 text-black bg-blue-500 hover:bg-blue-600 rounded-md shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Back to reading
    </button>
    <div class="max-w-7xl mx-auto text-center">
      <div>
        <div>
          {% for i in range(1, 14) %}
            <br>
            <div class="mt-8">
              <p>{{ questions[i] | safe }}</p>
              {% for j in range(1, 5) %}
                {% set start_index = ((i - 1) * 4) + j %}
                <div class="mt-4">
                  <input type="radio" id="answer{{ i }}_{{ start_index }}" name="{{ i }}" value="{{ start_index }}">
                  <label for="answer{{ i }}_{{ start_index }}">{{ answers[start_index] | safe }}</label><br>
                </div>
              {% endfor %}
            </div>
            </p>
          {% endfor %}
          <br>
          <p>{{ questions[14] | safe }}</p>
              <div class="mt-4">
                <input type="checkbox" id="answer{{ 53 }}" name="53" value="1">
                <label for="53">{{ answers[53] | safe }}</label><br>
                <input type="checkbox" id="answer{{ 54 }}" name="54" value="2">
                <label for="54">{{ answers[54] | safe }}</label><br>
                <input type="checkbox" id="answer{{ 55 }}" name="55" value="3">
                <label for="55">{{ answers[55] | safe }}</label><br>
                <input type="checkbox" id="answer{{ 56 }}" name="56" value="4">
                <label for="56">{{ answers[56] | safe }}</label><br>
                <input type="checkbox" id="answer{{ 57 }}" name="57" value="5">
                <label for="57">{{ answers[57] | safe }}</label><br>
                <input type="checkbox" id="answer{{ 58 }}" name="58" value="6">
                <label for="58">{{ answers[58] | safe }}</label><br>
              </div>
            </p>
        </div>
      </div>
    </div>
  <div class="mt-8">
    <button onclick="location.href='/reading'" class="inline-block px-6 py-3 text-black bg-blue-500 hover:bg-blue-600 rounded-md shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Back to reading
    </button>
    <button type="submit" class="inline-block px-6 py-3 text-black bg-blue-500 hover:bg-blue-600 rounded-md shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Save
    </button>
    <!-- 
    This script defines a function `confirmSave` that prompts the user with a confirmation dialog.
    If the user confirms, they are redirected to the '/reading-qs' page.
    
    <script>
      function confirmSave() {
      if (confirm('Are you sure you want to save?')) {
        location.href = '/reading-qs';
      }
      }
    </script>
    -->
  </div>
  </div>
</form>
{% endblock %}